Repository traas-stack/holoinsight, pull requests merged in 2023-05, with the labels that each got.

#413 test: add loganalysis IT
  .github/workflows/e2e-test.yml
  test/scenes/common/log-alert-generator.py
  test/scenes/common/log-generator.py
  test/scenes/common/logwriter.py
  test/scenes/scene-default/docker-compose.yaml
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringAnalysisIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/bootstrap/ITSets.java
  test/server-e2e-test/src/main/resources/requests/AlertCalculateIT.json
  test/server-e2e-test/src/main/resources/requests/LogMonitoringAnalysisIT.json
Labels: test

#414 feat(home): alert history detail query
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/AlarmHistoryDetailService.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryDetailServiceImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmHistoryDetailFacadeImpl.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertRuleIT.java
Labels: alert

#415 test: add e2e of log analysis IT
  .github/workflows/e2e-test.yml
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertSaveHistoryHandler.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryDetailServiceImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/common/ParaCheckUtil.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertCalculateIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertLogAnalysisIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/bootstrap/ITSets.java
  test/server-e2e-test/src/main/resources/requests/LogAnalysisIT.json
Labels: test, alert

#421 fix: remove redundant targets
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/collecttarget/CollectTargetStorage.java
Labels: bug

#422 refactor: support custom hostIP resolution
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/collecttarget/CollectTargetMaintainer.java
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/collecttarget/CollectTargetService.java
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/collecttarget/TargetHostIPResolver.java
Labels: refactor

#444 fix: Holoinsight demo startup failure
  deploy/examples/docker-compose/application.yaml
  server/extension/extension-storage-ceresdbx/src/main/java/io/holoinsight/server/extension/ceresdbx/HoloinsightCeresdbxConfiguration.java
Labels: bug
