Repository traas-stack/holoinsight, pull requests merged in 2023-07, with the labels that each got.

#530 chore: update front docker image
  scripts/docker/Dockerfile
Labels: refactor

#534 feat(home): log sample alert
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/event/AlertNotify.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/event/AlertNotifyRequest.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertNotifyHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertSaveHistoryHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/converter/DoConvert.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/event/alertManagerEvent/AlertManagerBuildMsgHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/CacheAlertTask.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/coordinator/CoordinatorService.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/InspectConfig.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/TemplateValue.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/trigger/AlertHistoryDetailExtra.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlarmMetricFacadeIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/IntegrationGeneratedFacadeIT.java
Labels: enhancement, alert

#535 feat(home): add log content in dingtalk alert template
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/NotificationTemplate.java
Labels: alert

#540 fix(home): avoid empty collection in sql `IN`
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/UserinfoServiceImpl.java
Labels: bug

#545 fix: alert calculation fails in non-aggregate mode
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/data/load/RuleAlarmLoadData.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/NotificationTemplate.java
Labels: bug, alert

#547 feat: check empty field in webhook request of alert notification
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/AlertService.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/event/alertManagerEvent/AlertManagerBuildMsgHandler.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/AlertTemplateField.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/NotificationTemplate.java
Labels: enhancement, alert

#550 fix: set slidingWindow null for none aggregate
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/data/load/RuleAlarmLoadData.java
Labels: bug, alert

#558 refactor: refactor hostIP resolver
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/collecttarget/CollectTargetService.java
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/collecttarget/TargetHostIPResolver.java
Labels: refactor

#559 fix: fix metadata deletion logic
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/grpc/RegistryServiceForAgentImpl.java
Labels: bug

#563 fix: add workspace field
  server/extension/extension-common-flyway/src/main/resources/db/migration/V13__230718_ADD_workspace_COLUMN.sql
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/AlarmDingDingRobot.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/AlarmGroup.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/dto/AlarmDingDingRobotDTO.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/dto/AlarmGroupDTO.java
Labels: alert

#565 feat(home): alert subscribe across tenants
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/GetSubscriptionHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/BaseFunction.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/RequestContextAdapter.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/RequestContextAdapterImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/AlertSubscribeService.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryDetailServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlertDingDingRobotServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlertGroupServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlertRuleServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlertSubscribeServiceImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmDingDingRobotFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmGroupFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmRuleFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmSubscribeFacadeImpl.java
  server/home/home-web/src/test/java/io/holoinsight/server/home/web/controller/AlarmRuleFacadeImplTest.java
Labels: enhancement, alert

#577 fix: remove redundant alert switch
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/main/AlertStarter.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/CacheAlertConfig.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/CacheAlertTask.java
Labels: refactor, alert
