Repository traas-stack/holoinsight, pull requests merged in 2023-04, with the labels that each got.

#304 fix(home): fix pql notification
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/event/AlertNotify.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AbstractUniformInspectRunningRule.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AlertTaskCompute.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/emuns/FunctionEnum.java
Labels: bug, alert

#306 feat(home): Add TraceID to the log recorded by the algorithm detection
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AlgorithmHttp.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/ValueDownAbnormalDetect.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/ValueUpAbnormalDetect.java
Labels: enhancement, alert

#313 fix(home): fix security vulnerability
  .github/workflows/e2e-test.yml
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/common/ParaCheckUtil.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmGroupFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmRuleFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/SysFacadeImpl.java
  server/home/home-web/src/test/java/io/holoinsight/server/home/web/common/ParaCheckUtilTest.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertGroupIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertRuleIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/bootstrap/ITSets.java
Labels: bug, alert

#311 feat: support remote PromQL
  server/extension/extension-storage-ceresdbx/pom.xml
  server/extension/extension-storage-ceresdbx/src/main/java/io/holoinsight/server/extension/ceresdbx/CeresdbxMetricStorage.java
  server/extension/extension-storage-ceresdbx/src/main/java/io/holoinsight/server/extension/ceresdbx/HoloinsightCeresdbxConfiguration.java
  server/extension/extension-storage-remote-promql/pom.xml
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/HttpPqlQueryService.java
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/PqlQueryService.java
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/RemotePqlConfiguration.java
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/RemotePqlProperties.java
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/model/Endpoint.java
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/model/PqlResult.java
  server/extension/extension-storage-remote-promql/src/main/java/io/holoinsight/server/extension/promql/utils/HttpClientUtils.java
  server/extension/extension-storage/src/main/java/io/holoinsight/server/extension/MetricStorage.java
  server/extension/extension-storage/src/main/java/io/holoinsight/server/extension/model/PqlParam.java
  server/extension/extension-storage/src/main/java/io/holoinsight/server/extension/model/QueryMetricsParam.java
  server/extension/extension-storage/src/main/java/io/holoinsight/server/extension/model/QueryParam.java
  server/extension/extension-storage/src/main/java/io/holoinsight/server/extension/model/QueryResult.java
  server/extension/extension-storage/src/main/java/io/holoinsight/server/extension/model/WriteMetricsParam.java
  server/query/query-service/src/main/java/io/holoinsight/server/query/service/impl/DefaultQueryServiceImpl.java
  server/server-parent/pom.xml
  test/scenes/common/base.yaml
  test/scenes/common/prometheus.yml
  test/scenes/scene-default/application.yaml
  test/scenes/scene-default/docker-compose.yaml
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/CeresdbPqlMonitoringIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/bootstrap/ITSets.java
  test/server-e2e-test/src/main/resources/requests/CeresdbPqlMonitoringIT.json
Labels: enhancement

#314 fix: fix up.sh
  test/scenes/common/up.sh
Labels: bug

#318 fix(home): fix alert concurrency
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AlertTaskCompute.java
  server/home/home-alert/src/test/java/io/holoinsight/server/home/alert/service/calculate/AlertTaskComputeTest.java
Labels: bug, alert

#320 feat(home): improve alert log level
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AlertTaskCompute.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AlgorithmHttp.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/data/load/AIAlarmLoadData.java
Labels: alert

#325 fix: garbled characters
  server/extension/extension-storage-ceresdbx/pom.xml
Labels: bug

#333 test: add dashboard sql
  test/scenes/scene-default/data.sql
Labels: test

#338 feat(home): add logs for troubleshooting
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertNotifyHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/GatewayService.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/GetSubscriptionHandler.java
Labels: alert

#345 fix: fix it
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringIT.java
Labels: bug, test

#346 test: fix it
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/QueryFacadeImpl.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/MetricMonitoringIT.java
Labels: bug, test

#347 test: add grafana container
  test/scenes/common/base.yaml
  test/scenes/common/grafana/grafana.ini
  test/scenes/common/status.sh
  test/scenes/scene-default/docker-compose.yaml
Labels: test

#350 test: optimize test scripts
  test/scenes/common/base.yaml
  test/scenes/scene-default/docker-compose.yaml
Labels: refactor, test

#360 refactor: sleep only when retry
  server/common/common/src/main/java/io/holoinsight/server/common/RetryUtils.java
Labels: refactor

#364 fix: fix demo sql
  scripts/docker/Dockerfile
  test/scenes/scene-default/data.sql
Labels: bug, test

#356 test: add apm demo to scene-default
  server/gateway/gateway-core/src/main/java/io/holoinsight/server/gateway/core/trace/exporter/LocalTraceExporter.java
  test/demo/Changelog.md
  test/demo/build.sh
  test/demo/demo-client/Dockerfile
  test/demo/demo-client/build.sh
  test/demo/demo-client/entrypoint.sh
  test/demo/demo-client/pom.xml
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/client/DemoClientApp.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/client/DemoClientTask.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/client/DemoClientWebController.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/BarRequest.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/BarRequestOrBuilder.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/BarResponse.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/BarResponseOrBuilder.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/DemoServerProtos.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/DemoServiceGrpc.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/FooRequest.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/FooRequestOrBuilder.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/FooResponse.java
  test/demo/demo-client/src/main/java/io/holoinsight/server/demo/server/grpc/grpc/FooResponseOrBuilder.java
  test/demo/demo-client/src/main/resources/config/application.yaml
  test/demo/demo-server/Dockerfile
  test/demo/demo-server/build.sh
  test/demo/demo-server/entrypoint.sh
  test/demo/demo-server/gen-grpc.sh
  test/demo/demo-server/pom.xml
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/DemoServerApp.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/DemoServerRunner.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/DemoServiceImpl.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/HelloWebController.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/BarRequest.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/BarRequestOrBuilder.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/BarResponse.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/BarResponseOrBuilder.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/DemoServerProtos.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/DemoServiceGrpc.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/FooRequest.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/FooRequestOrBuilder.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/FooResponse.java
  test/demo/demo-server/src/main/java/io/holoinsight/server/demo/server/grpc/FooResponseOrBuilder.java
  test/demo/demo-server/src/main/proto/demo-server.proto
  test/demo/demo-server/src/main/resources/config/application.yaml
  test/demo/docker-build.sh
  test/scenes/common/up.sh
  test/scenes/demo/docker-compose.yaml
  test/scenes/scene-default/after.sh
  test/scenes/scene-default/docker-compose.yaml
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/env/DockerComposeEnv.java
Labels: enhancement, test

#366 feat: add log query interface (#362)
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/Log.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogContextRequest.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogContextResponse.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogCountRequest.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogCountResponse.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogKey.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogMultiQueryRequest.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogMultiQueryResponse.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogPathRequest.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogQueryRequest.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogQueryResponse.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/log/LogService.java
Labels: enhancement

#371 test: add APM ITs
  .github/workflows/e2e-test.yml
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmAppMetricStatIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmCallLinkDetailIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmCallLinkIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmTopologyIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/bootstrap/ITSets.java
Labels: test

#373 test: make LogMonitoringIT more stable
  .github/workflows/e2e-test.yml
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringIT.java
Labels: bug, test

#375 fix(alert): fix alert lost
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertNotifyHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertSaveHistoryHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/GetSubscriptionHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/event/AlertEventService.java
Labels: bug, alert

#377 test: make LogMonitoringIT more stable
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringIT.java
Labels: bug, test

#378 feat: add log analysis models
  server/registry/registry-model/src/main/java/io/holoinsight/server/registry/model/GroupBy.java
Labels: enhancement

#383 feat(home): log sampling storage is supported in logmonitor
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/dto/conf/LogKnownPattern.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/dto/conf/LogParse.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/dto/conf/LogPattern.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/common/GaeaSqlTaskUtil.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/common/MetaDictKey.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/IntegrationGeneratedService.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/TenantInitService.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/DefaultTenantInitServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/IntegrationGeneratedServiceImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AgentFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/IntegrationGeneratedFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/QueryFacadeImpl.java
Labels: enhancement

#386 feat: update skywalking agent version
  scripts/docker/Dockerfile
  test/demo/demo-client/Dockerfile
  test/demo/demo-server/Dockerfile
Labels: bug, test

#387 test: print better message in shell
  test/scenes/common/status.sh
  test/scenes/common/utils/prettytable/LICENSE
  test/scenes/common/utils/prettytable/prettytable.sh
Labels: refactor, test

#388 test: fix failed ITs
  test/scenes/demo/docker-compose.yaml
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoring_1_log_IT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmCallLinkDetailIT.java
Labels: bug, test, trace

#384 test: add GPU dashboard sql
  test/scenes/scene-default/data.sql
Labels: test

#385 test: automatically enable debug mode when developing
  test/scenes/common/base.yaml
  test/scenes/scene-default/up.sh
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/env/DockerComposeEnv.java
Labels: refactor, test

#389 test: treat all exceptions as retryable errors
  test/server-e2e-test/src/main/java/extensions/org/awaitility/core/ConditionFactory/ConditionFactoryExtension.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertCalculateIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AlertRuleIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/AppMonitoringIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/CeresdbPqlMonitoringIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/IntegrationPluginIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoring_1_log_IT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/MetaVMIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/MetricMonitoringIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/TaskIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmAppMetricStatIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmCallLinkDetailIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmCallLinkIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/apm/ApmTopologyIT.java
Labels: bug, test

#394 fix(home): add workspace content
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertSaveHistoryHandler.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/plugin/model/HostingAlert.java
Labels: enhancement, alert

#395 fix: fix log multiline
  .github/workflows/e2e-test.yml
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/common/GaeaSqlTaskUtil.java
  server/registry/registry-core/src/main/java/io/holoinsight/server/registry/core/grpc/BiStreamService.java
  server/registry/registry-model/src/main/java/io/holoinsight/server/registry/model/From.java
  test/scenes/common/log-generator.py
  test/scenes/scene-default/after.sh
  test/scenes/scene-default/data.sql
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/LogMonitoringMultilineIT.java
  test/server-e2e-test/src/main/java/io/holoinsight/server/test/it/bootstrap/ITSets.java
  test/server-e2e-test/src/main/resources/requests/LogMonitoringMultilineIT.json
  test/server-e2e-test/src/main/resources/requests/LogMonitoring_1_log_IT.json
Labels: bug

#402 fix: disable SkyWalking gRPC plugin
  scripts/docker/Dockerfile
Labels: bug, test

#401 fix: fix k8s demo
  deploy/examples/k8s/base/cadvisor.yaml
  deploy/examples/k8s/base/ceresdb.yaml
  deploy/examples/k8s/base/clusteragent.yaml
  deploy/examples/k8s/base/kustomization.yaml
  deploy/examples/k8s/base/prometheus.yaml
  deploy/examples/k8s/base/server.yaml
  deploy/examples/k8s/overlays/example/delete.sh
  deploy/examples/k8s/overlays/example/init-db.sh
  deploy/examples/k8s/overlays/example/mysql-exec.sh
Labels: bug, test

#403 refactor: add GPU panel SQL
  test/scenes/scene-default/data.sql
Labels: refactor, test

#405 refactor: add intelligent anomaly detection capability to the alarm
  server/all-in-one/all-in-one-bootstrap/src/main/resources/config/application.yaml
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/compute/algorithm/anomaly/AlgorithmConfig.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/compute/algorithm/anomaly/AnomalyAlgorithmRequest.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/compute/algorithm/anomaly/AnomalyAlgorithmResponse.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/compute/algorithm/anomaly/RuleConfig.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AnomalyDownAbnormalDetect.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/AnomalyUpAbnormalDetect.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/FunctionManager.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/ValueDownAbnormalDetect.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/ValueUpAbnormalDetect.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/data/load/AIAlarmLoadData.java
  server/home/home-bootstrap/src/test/resources/config/application-test.yaml
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/emuns/FunctionEnum.java
  test/scenes/scene-default/docker-compose.yaml
Labels: alert

#409 fix: fix ceresdb string field
  server/extension/extension-storage-ceresdbx/src/main/java/io/holoinsight/server/extension/ceresdbx/CeresdbxMetricStorage.java
Labels: bug

#410 fix: fix ceresdb end timestamp
  server/extension/extension-storage-ceresdbx/src/main/java/io/holoinsight/server/extension/ceresdbx/CeresdbxMetricStorage.java
Labels: bug

#412 feat(home): alert log analysis
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/common/TimeRangeUtil.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/event/AlertNotify.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/event/AlertNotifyRequest.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertNotifyHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/AlertSaveHistoryHandler.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/CacheAlertTask.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/converter/AlarmHistoryDetailConverter.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/AlarmHistoryDetailDTO.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/AlertTemplateField.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/InspectConfig.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/NotificationTemplate.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/TemplateValue.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/trigger/AlertHistoryDetailExtra.java
Labels: enhancement, alert
