Repository traas-stack/holoinsight, pull requests merged in 2023-06, with the labels that each got.

#457 fix: ineffective global webhook
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/model/event/AlertNotify.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/plugin/GetSubscriptionHandler.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/QueryClientService.java
Labels: bug, alert

#465 fix: alarm rule creater and modifier
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/calculate/NullValueTracker.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/data/load/RuleAlarmLoadData.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmRuleFacadeImpl.java
Labels: alert

#476 chore: add timezone field
  server/registry/registry-grpc-gen/src/main/java/io/holoinsight/server/common/grpc/CommonRequestHeader.java
  server/registry/registry-grpc-gen/src/main/java/io/holoinsight/server/common/grpc/CommonRequestHeaderOrBuilder.java
  server/registry/registry-grpc-gen/src/main/java/io/holoinsight/server/registry/grpc/prod/PreviewFileResponse.java
  server/registry/registry-grpc-gen/src/main/java/io/holoinsight/server/registry/grpc/prod/PreviewFileResponseOrBuilder.java
  server/registry/registry-grpc-gen/src/main/java/io/holoinsight/server/registry/grpc/prod/RegistryForProdProtos.java
  server/registry/registry-grpc-gen/src/main/proto/registry-for-prod.proto
Labels: enhancement

#482 feat: user information
  server/extension/extension-common-flyway/src/main/resources/db/migration/V9__230609_CREATE_userinfo_TABLE.sql
  server/home/home-boot/src/main/java/io/holoinsight/server/home/bootstrap/HoloinsightHomeConfiguration.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/converter/UserinfoConverter.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/mapper/UserinfoMapper.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/mapper/UserinfoVerificationMapper.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/Userinfo.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/UserinfoVerification.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/UserinfoDTO.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/UserinfoVerificationService.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/UserinfoVerificationServiceImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/common/ParaCheckUtil.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/UserinfoFacadeImpl.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/UserinfoVerificationFacadeImpl.java
Labels: alert

#488 feat: tenant adaptation in alarm query
  server/home/home-boot/src/main/java/io/holoinsight/server/home/bootstrap/HoloinsightHomeConfiguration.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/QueryClientService.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/RequestContextAdapter.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/RequestContextAdapterImpl.java
Labels: alert

#493 feat(home): alert facade tenant
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/RequestContextAdapter.java
  server/home/home-common/src/main/java/io/holoinsight/server/home/common/service/RequestContextAdapterImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/AlertRuleService.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryDetailServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlertRuleServiceImpl.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/migrate/MigrateService.java
Labels: enhancement, alert

#504 fix: alert coordinator
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/CacheAlertTask.java
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/service/impl/AlarmHistoryDetailServiceImpl.java
Labels: bug, alert

#505 fix: select alert detail sort
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmHistoryDetailFacadeImpl.java
Labels: alert

#514 fix: alert time filter
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/AlertTaskScheduler.java
  server/home/home-facade/src/main/java/io/holoinsight/server/home/facade/TimeFilter.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/controller/AlarmHistoryDetailFacadeImpl.java
Labels: bug, alert

#521 docs: change chinese notes to english notes
  server/home/home-service/src/main/java/io/holoinsight/server/home/biz/listener/CustomPluginUpdateListener.java
Labels: documentation

#525 fix: alert cache exception
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/service/task/CacheAlertTask.java
Labels: bug, alert

#526 chore: add location property
  server/common/common-service/src/main/java/io/holoinsight/server/common/config/EnvironmentProperties.java
  server/home/home-alert/src/main/java/io/holoinsight/server/home/alert/common/webhook/WebhookUtil.java
Labels: alert

#528 feat(home): create log monitoring by OpenAI Function-calling
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/openai/AlarmRuleFc.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/openai/AlertRuleType.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/openai/CustomPluginFc.java
  server/home/home-dal/src/main/java/io/holoinsight/server/home/dal/model/openai/CustomPluginUpsertFc.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/openai/AlarmRuleFcService.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/openai/CustomPluginFcService.java
  server/home/home-web/src/main/java/io/holoinsight/server/home/web/openai/FunctionRegistry.java
Labels: enhancement
